examples/workflows/document-processing.json
{
  "name": "Document Processing Pipeline",
  "nodes": [
    {
      "parameters": {},
      "id": "e3c5e7d1-4b3a-4f1e-8e9a-2f8c9e1d3a5b",
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "selector": ".content, article, main",
        "stripHtml": true
      },
      "id": "f4d6e8f2-5c4b-5g2f-9f0b-3g9d0f2e4b6c",
      "name": "Scrape Website",
      "type": "n8n-nodes-alice-semantic-bridge.webScrape",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "chunkSize": 512,
        "chunkOverlap": 64,
        "preserveParagraphs": true
      },
      "id": "g5e7f9g3-6d5c-6h3g-0g1c-4h0e1g3f5c7d",
      "name": "Chunk Content",
      "type": "n8n-nodes-alice-semantic-bridge.textChunk",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "table": "embeddings",
        "textField": "content",
        "sourceId": "={{ $json.sourceId || 'web-' + Date.now() }}",
        "metadata": {
          "url": "={{ $node['Scrape Website'].json.url }}",
          "scraped_at": "={{ new Date().toISOString() }}",
          "chunk_index": "={{ $itemIndex }}",
          "total_chunks": "={{ $items().length }}"
        }
      },
      "id": "h6f8g0h4-7e6d-7i4h-1h2d-5i1f2h4g6d8e",
      "name": "Store in PgVector",
      "type": "n8n-nodes-alice-semantic-bridge.pgvectorUpsert",
      "typeVersion": 1,
      "position": [850, 300],
      "credentials": {
        "postgresWithVectorApi": {
          "id": "1",
          "name": "Postgres with pgvector"
        },
        "openAIApi": {
          "id": "2",
          "name": "OpenAI"
        }
      }
    },
    {
      "parameters": {
        "channel": "document-processed",
        "message": {
          "event": "document_stored",
          "sourceId": "={{ $json.sourceId }}",
          "documentId": "={{ $json.id }}",
          "timestamp": "={{ new Date().toISOString() }}"
        }
      },
      "id": "i7g9h1i5-8f7e-8j5i-2i3e-6j2g3i5h7f9g",
      "name": "Publish to Redis",
      "type": "n8n-nodes-alice-semantic-bridge.redisPublish",
      "typeVersion": 1,
      "position": [1050, 300],
      "credentials": {
        "redisApi": {
          "id": "3",
          "name": "Redis"
        }
      }
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Scrape Website",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape Website": {
      "main": [
        [
          {
            "node": "Chunk Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chunk Content": {
      "main": [
        [
          {
            "node": "Store in PgVector",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store in PgVector": {
      "main": [
        [
          {
            "node": "Publish to Redis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "pinData": {},
  "versionId": "a1b2c3d4-e5f6-g7h8-i9j0-k1l2m3n4o5p6"
}