example-workflow.json
{
  "name": "Alice Semantic Bridge Example",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "embed-document",
        "options": {}
      },
      "id": "webhook_1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 300],
      "webhookId": "alice-webhook"
    },
    {
      "parameters": {
        "operation": "embedStore",
        "text": "={{ $json.text }}",
        "documentId": "={{ $json.id || $now.toISOString() }}",
        "metadata": "={{ JSON.stringify($json.metadata || {}) }}"
      },
      "id": "alice_1",
      "name": "Alice Semantic Bridge",
      "type": "aliceSemanticBridge",
      "typeVersion": 1,
      "position": [450, 300],
      "credentials": {
        "aliceSemanticBridgeApi": {
          "id": "1",
          "name": "Alice API"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "response",
              "value": "Document embedded successfully!"
            }
          ]
        },
        "options": {}
      },
      "id": "set_1",
      "name": "Set Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "search",
        "options": {}
      },
      "id": "webhook_2",
      "name": "Search Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 500],
      "webhookId": "alice-search"
    },
    {
      "parameters": {
        "operation": "search",
        "text": "={{ $json.query }}",
        "limit": "={{ $json.limit || 10 }}"
      },
      "id": "alice_2",
      "name": "Alice Search",
      "type": "aliceSemanticBridge",
      "typeVersion": 1,
      "position": [450, 500],
      "credentials": {
        "aliceSemanticBridgeApi": {
          "id": "1",
          "name": "Alice API"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Alice Semantic Bridge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Alice Semantic Bridge": {
      "main": [
        [
          {
            "node": "Set Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Webhook": {
      "main": [
        [
          {
            "node": "Alice Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [],
  "pinData": {},
  "versionId": "1"
}